<h1>Edit holiday</h1>

<% form_for(@holiday, :url => { :action => "update" }) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :date %><br />
    <%= f.date_select :date, :start_year => 2009, :end_year => Date.today.year + 5 %>
  </p>
   <p>
    <%= f.label :note %><br />
    <%= f.text_field :note %>
  </p>
  <p>
    <%= f.label :working_hours %><br />
    <%= f.text_field :working_hours %>
  </p>
  <p>
    <%= f.label :repeat %><br />
    <%= f.check_box :repeat, {:onclick=>'enable_disable_year()'} %>
  </p>
  <p>
    <%= hidden_field_tag 'holiday[date(1i)]', 1992 %>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<script type="text/javascript">enable_disable_year();</script>

<%= link_to 'Back', :action => 'index' %>