<p class="notice"><%= flash[:notice] %></p>
<p class="error"><%= flash[:error] %></p>

<h1>Public Holidays</h1>
<%= render :partial => 'sub_menu' -%>

<table class="regular">
  <tr>
    <th>Date</th>
    <th>Working Hours</th>
    <th>Note</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

<% @holidays.each do |holiday| %>
  <tr>
    <td><%=h holiday.show_date %></td>
    <td><%=h holiday.working_hours %></td>
    <td><%=h holiday.note %></td>
    <% if @current_user.admin -%>
      <td><%= link_to image_tag("pencil.png", :title => "Edit"), :action => :edit, :id => holiday %></td>
      <td><%= link_to image_tag("delete.png", :title => "Delete"), holiday_path(holiday), :method => :delete, :confirm => 'Really delete holiday?' %></td>
    <% end %>
  </tr>
<% end %>
</table>

<% if @current_user.admin -%>
<br />
<%= link_to 'New holiday', :action => :new %>
<% end %>