
<p class="notice"><%= flash[:notice] %></p>
<p class="error"><%= flash[:error] %></p>

<% activity_vacation = Activity.vacation %>

<h1>Vacation</h1>
<%= render :partial => 'sub_menu' -%>

<div class="navigation">
	<h3 class="compact">
		<%= link_to '<<', :action => 'vacation', :date => @day << 1 %>
		<span><%= @day.strftime('%B %Y') %></span>
		<%= link_to '>>', :action => 'vacation', :date => @day >> 1 %>
	</h3>
</div>

<br/>

<table class="vacation">

  <tr>
    <td></td>
    <% @day.at_beginning_of_month.upto @day.at_end_of_month do |d| %>
      <th <%= 'class="error"' if @is_holiday[d] -%> ><%= d.day -%><%='</th>'-%>
      <% end %>
  </tr>

  <tr><td class="user"><%=h  @user.name %></td>

    <% form_tag 'set_vacation', :method => 'post', :id => 'holidays_select_form' do %>
      <% vacation_dates = TimeEntry.for_user(@user).for_activity(activity_vacation).between(@day.at_beginning_of_month, @day.at_end_of_month).collect{|entry| entry.date} %>
    <% @day.at_beginning_of_month.upto @day.at_end_of_month do |d| %>
        <td>
          <% unless @is_holiday[d]  %>
            <%= check_box_tag  "date[#{d}]", '1',  vacation_dates.include?(d) -%>
          <% end %>
        </td>
      <% end %>
      <td>
        <%= hidden_field_tag 'month', @day %>
        <%= hidden_field_tag 'user_id', @user.id %>
        <%= submit_tag 'Update' %>
      </td>
    <% end %>


    <% @others.each do |user| %>
    <tr><td class="user"><%=  user.fullname %></td>
      
      <% vacation_dates = TimeEntry.for_user(user).for_activity(activity_vacation).between(@day.at_beginning_of_month, @day.at_end_of_month).collect{|entry| entry.date} %>
      <% @day.at_beginning_of_month.upto @day.at_end_of_month do |d| %>

        <td>
          <% if vacation_dates.include?(d) %>
            <input type="checkbox" checked="1" disabled="true"/>
          <% else %>
            <% unless @is_holiday[d] %>
              <span class="disabled">-</span>
            <% end %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>

</table>
