
<%## TODO: Hack find vacation through configuration %>
      <% activity = Activity.find_by_name("Vacation") %>


<h1>Vacation</h1>
<%= render :partial => 'sub_menu' -%>

<div id="navigation" style="text-align:center;">
<h3><%= link_to '<<', :action => 'vacation', :month => @day << 1 %>
<span style="display:inline-block; width:9em;"><%= @day.strftime('%B %Y') %></span>
<%= link_to '>>', :action => 'vacation', :month => @day >> 1 %></h3>
</div>

<hr/><br/>

<table class="compact">

  <tr>
    <td></td>
    <% @day.at_beginning_of_month.upto @day.at_end_of_month do |d| %>
      <th <%= 'class="error"' if d.cwday >= 6 -%> ><%= d.day -%><%='</th>'-%>
      <% end %>
  </tr>

  <tr><td><%=  @user.fullname %></td>

    <% form_tag 'set_vacation', :method => 'post', :id => 'holidays_select_form' do %>
      <% vacation_dates = TimeEntry.for_user(@user).for_activity(activity).between(@day.at_beginning_of_month, @day.at_end_of_month).collect{|entry| entry.date} %>
      <% @day.at_beginning_of_month.upto @day.at_end_of_month do |d| %>
        <td><%= check_box_tag  "date[#{d}]", '1',  vacation_dates.include?(d), :disabled => d.cwday >= 6 -%></td>
      <% end %>
      <td>
        <%= hidden_field_tag 'month', @day %>
        <%= hidden_field_tag 'user_id', @user.id %>
        <%= submit_tag 'Update' %>
      </td>
    <% end %>


    <% @others.each do |user| %>
    <tr><td><%=  user.fullname %></td>
      
      <% vacation_dates = TimeEntry.for_user(user).for_activity(activity).between(@day.at_beginning_of_month, @day.at_end_of_month).collect{|entry| entry.date} %>
      <% @day.at_beginning_of_month.upto @day.at_end_of_month do |d| %>

        <td><input type="checkbox" <%= ! vacation_dates.include?(d) ? '' : 'checked="1"' -%> disabled="true"/></td>
      <% end %>
    </tr>
  <% end %>

</table>
