<% form_for @hour_type do |f| %>
        <p>
	<%= f.label :name %>
	<%= f.text_field :name %>
	</p>
        <p>
	<%= f.label :default_hour_type %>
	<%= f.check_box :default_hour_type %>
        </p>
	<p>
		<%= f.submit "Save" %>
	</p>
	<p>
		<%= f.error_messages %>
	</p>
<% end -%>
<%= link_to "Hour Type list", hour_types_path %>