<h1>Vacation overview</h1>
<%= render :partial => 'holidays/sub_menu' -%> 
<%= render :partial => "shared/flash_output" %>

<% if Configuration.instance.vacation_activity %>

	<div class="navigation">
		<h3 class="compact">
			<%= link_to '<<', vacations_path(:year => @year - 1 ) %>
			<span><%= @year %></span>
			<%= link_to '>>', vacations_path(:year => @year + 1) %>
		</h3>
	</div>

	<br/>

	<table class="vacation regular" width="100%">

	  <tr>
	    <% Date::ABBR_MONTHNAMES.each_with_index do |month_name, i| %>
	      <th><%= i > 0 ? link_to(month_name, edit_user_vacation_path(@current_user, :date => Date.civil(@year, i, 1) ) ) : ''-%></th>
	    <% end %>
	      <th>TOTAL</th>
	  </tr>
          <tr>
	    <% @users.each do |user| %>
			<% user_vacation_overview(user) do %>
				<td class="user">
					<%= user.name %>
				</td>
				<% 1.upto(12) do |month| %>
					<td style="border-left: 1 solid">
					<%= user.vacation_total_for_month_of_year(month, @year) > 0 ? user.vacation_total_for_month_of_year(month, @year) : '-' %>
					</td>
				<% end %>
				<td>
					<%= user.vacation_total_for_year(@year) %>
				</td>
			<% end -%>
	  	<% end %>
          </tr>
	</table>

<% else %>
 <b>No vacation activity has been configured. Select one <%= link_to "here", edit_configuration_path %>.</b>
<% end -%>