<h1>Vacation overview</h1>
<%= render :partial => 'holidays/sub_menu' -%> 
<%= render :partial => "shared/flash_output" %>

<% if Configuration.instance.vacation_activity %>

	<div class="navigation">
		<h3 class="compact">
			<%= link_to '<<', :action => 'vacation_overview', :year => @year - 1 %>
			<span><%= @year %></span>
			<%= link_to '>>', :action => 'vacation_overview', :year => @year + 1 %>
		</h3>
	</div>

	<br/>

	<table class="vacation regular" width="100%">

	  <tr>
	    <% Date::ABBR_MONTHNAMES.each do |month_name| %>
	      <th><%= month_name -%></th>
	    <% end %>
	      <th>TOTAL</th>
	  </tr>

	    <% User.all.sort.each do |user| %>
	    <tr><td class="user"><%=  user.name %></td>
      
	      <% 1.upto(12) do |month| %>
	        <td>	          
	          <%= user.vacation_total_for_month_of_year(month, @year) > 0 ? user.vacation_total_for_month_of_year(month, @year) : '-' %>
	        </td>
	      <% end %>
	      <td>
			<%= user.vacation_total_for_year(@year) %>
		  </td>
	    </tr>
	  <% end %>

	</table>

<% else %>
 <b>No vacation activity has been configured. Select one <%= link_to "here", edit_configuration_path %>.</b>
<% end -%>