<h1>Vacation overview</h1>
<%= render :partial => 'holidays/sub_menu' -%> 
<%= render :partial => "shared/flash_output" %>

<% if Configuration.instance.vacation_activity %>

	<div class="navigation">
		<h3 class="compact">
			<%= link_to '<<', user_vacation_path(@user, :id => @year - 1 ) %>
			<span><%= @year %></span>
			<%= link_to '>>', user_vacation_path(@user, :id => @year + 1) %>
		</h3>
	</div>

	<br/>

	<table class="vacation regular" width="100%">

	  <tr>
	    <% Date::ABBR_MONTHNAMES.each_with_index do |month_name, i| %>
	      <th><%= i > 0 ? link_to(month_name, edit_user_vacation_path(@current_user, :id => @year, :month => i)) : ''-%></th>
	    <% end %>
	      <th>TOTAL</th>
	  </tr>
        
	    <% @vacation_overview.each_user_with_month_and_year_totals do |user, month_totals, year_total| %>
			<% vacation_overview_for_user(user) do %>
				<td class="user">
					<%= user.name %>
				</td>
				<%  (1..12).each do |month| %>
					<td style="border-left: 1 solid">
						<%= month_totals[month] > 0 ? month_totals[month] : '-' %>
					</td> 
				<% end %>
				<td>
					<%= year_total %>
				</td>
			<% end -%>
	  	<% end %>
          </tr>
	</table>

<% else %>
 <b>No vacation activity has been configured. Select one <%= link_to "here", edit_configuration_path %>.</b>
<% end -%>