<h1>Configure</h1>
<%= render :partial => 'admin/menu' -%>

<br/>
<% form_tag("configurations/update", :method => :put) do %>
	<table>
	  <tr>
	    <td>Time zone</td>
	    <td><%= select_tag("time_zone", time_zone_options_for_select(TIMEFLUX_CONFIG["time_zone"])) %></td>
	  </tr>
	  <tr>
	    <td>Vacation activity</td>
	    <td><%= select_tag "vacation_activity_id", options_from_collection_for_select(Activity.all, :id, :customer_project_name, TIMEFLUX_CONFIG["vacation_activity_id"]) %></td>
	  </tr>
	  <tr>
	    <td>Work hours per day</td>
	    <td><%= text_field_tag "work_hours", TIMEFLUX_CONFIG["work_hours"], :size => 6 %></td>
	  </tr>
	</table>
	<%= submit_tag "Save" %>
<% end -%>
<br/>

<br/>