<p class="notice"><%= flash[:notice] %></p>
<p class="error"><%= flash[:error] %></p>

<h1>Configure</h1>
<%= render :partial => 'admin/menu' -%>

<p>(GUI only)</p>

<br/>
<table>
  <tr>
    <td>Timezone</td>
    <td><%= time_zone_select( "user", "time_zone") %></td>
  </tr>
    <tr>
    <td>Authentication</td>
    <td><%= radio_button_tag 'default', "Built in"%>Built in
<%= radio_button_tag 'default', "Ldap"%>Ldap</td>
  </tr>
    <tr>
      <td></td>
    <td>Ldap host <%= text_field_tag 'ident', 'your.host.here' %></td>
  </tr>
    <tr>
    <td></td>
    <td>Ldap base <%= text_field_tag 'ident', 'ou=people,dc=foobar,dc=com' %></td>
  </tr>
    <tr>
    <td>Vacation activity</td>
    <td><%= select_tag "activity", options_from_collection_for_select(Activity.all, :id, :customer_project_name, nil) %></td>
  </tr>
    <tr>
    <td>Work hours per day</td>
    <td><%= text_field_tag 'hours', '7.5', :size => 6 %></td>
  </tr>
</table>

<br/>

<input name="write_to_file" type="submit" value="Save" />

<br/>
