<h1>
  <%=h @user.fullname %>
</h1>

<table class="regular">
  <tr>
    <td>Login</td>
    <td><b><%=h @user.login %></b></td>
  </tr>
  <tr><td></td></tr>
  <tr>
    <td>Email</td>
    <td><b><%=h @user.email %></b></td>
  </tr>
</table>

<br/>
    <h3>Assignments</h3>
    <ul>
      <%  @user.projects.each do |project| %>
        <li><%= "#{project.name} (#{project.customer.name})" %></li>
      <% end %>
    </ul>

<br/>
<%= link_to 'Edit', edit_user_path(@user) %> 
<% if @current_user.admin -%>
	|
	<%= link_to 'User list', users_path %>
<% end -%>