<p>
  <b>Full name:</b>
  <%=h @user.fullname %>
</p>

<p>
  <b>Login name:</b>
  <%=h @user.login %>
</p>

<p>
  <b>Email</b>
  <%= @user.email %>
</p>

<p>
  <b>Operative status</b>
  <%= @user.operative_status %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> 
<% if @current_user.admin -%>
	|
	<%= link_to 'User list', users_path %>
<% end -%>