  <hr/>
   <% last_in_month = (day >> 1) -1 %>

  <br/>
  <table>
    <tr><td></td><th>Mon</th><th>Tue</th><th>Wed</th><th>Thu</th><th>Fri</th><th class="error">Sat</th><th class="error">Sun</th>
      <% day.beginning_of_week.upto last_in_month.end_of_week  do |d| %>
        <% if d.wday == 1 %>
        </tr><tr><th><%= link_to d.cweek.to_s, user_time_entries_path(:user_id => user, :date => d) %></th>
          <% end %>
        <td <%= 'style="color: #eeeeee;"' if d.month != day.month%> ><%= user.hours_on_day d -%></td>
<% end %>
      </tr>
    </table>

  <br/><br/><br/>
    <table>
        <%  activities_summary.each do |entry| %>
        <tr><td><%= entry[:name] -%></td><td><%=  entry[:hours] -%></td></tr>
        <% end %>
        <tr><td>Total:</td><td> <%= activities_summary.collect { |i| i[:hours] }.sum  -%></td></tr>
  </table>