
<% if @time_entries != nil %>

  <% @time_entries.each do |activity, te| %>
    <h3><%= activity.customer_project_name %></h3>
    <table>
      <tr>
        <th>Date</th><th>Type</th><th>Hours</th><th>Notes</th>
      </tr>
      <%te.each do |entry| %>
        <tr>
          <td><%= entry.date -%></td>
          <td><%= entry.hour_type -%></td>
          <td><%= entry.hours -%></td>
          <td><%= entry.notes -%></td>
        </tr>
      <% end %>
    </table>
  <% end %>
<% else %>
    <p>No time entries for this period</p>
<% end %>

<br/><hr/>
Download report: <%= link_to image_tag("pdficon_small.gif", :alt => "pdf"), params.merge({:format => "pdf",:action => 'listing'})%>