

<h1>Review Month</h1>

<%= render :partial => 'sub_menu' -%>

<% form_tag 'calender', :method => 'get', :id => 'calender_form' do %>
  <p>
    <label for="date">Period</label>
    <%= date_select "calender", "date", {:start_year => Date.today.year - 5 , :end_year => Date.today.year + 1, :discard_day => true, :default => @day} %>
  </p>
  <noscript><div><%= submit_tag 'View' %></div></noscript>
<% end %>

<%= observe_form 'calender_form',
  :url => {:action => 'update_calender'},
  :update => 'calender_content' %>

<div id="calender_content">
  <%= render :partial => 'calender_content', :locals =>
    { :day => @day, :user => @user, :activities_summary => @activities_summary } -%>
</div>

