
<h1>Review Month</h1>

<%= render :partial => 'select_view' -%>

<% form_tag 'listing', :method => 'get', :id => 'listing_form' do %>
  <%= render :partial => 'reports/date_picker', :locals =>
    { :years => @years, :months => @months, :selected_year => @selected_year, :selected_month => @selected_month } -%>

  <noscript><%= submit_tag 'View' %></noscript>
<% end %>

<%= observe_form 'listing_form',
  :url => {:action => 'update_listing'},
  :update => 'listing_content'
%>

<hr/>

<div id="listing_content">
  <%= render :partial => 'listing_content', :locals => { :table => @table, :params => params } -%>
</div>
