
  <h1>Review Month</h1>

<%= render :partial => 'sub_menu' -%>

<% form_tag :action => 'summary', :method => 'get' do %>
  <%= render :partial => 'reports/date_picker', :locals =>
    { :years => @years, :months => @months, :selected_year => @selected_year, :selected_month => @selected_month } -%>
  <%= submit_tag 'View' %>
<% end %>
  <hr/>

  <h2>Summary</h2>

  <table>
        <tr><th>Activity name</th><th>Hours</th></tr>
        <%  @activities_summary.each do |entry| %>
        <tr><td><%= entry[:name] -%></td><td><%=  entry[:hours] -%></td></tr>
        <% end %>
        <tr><td>Total:</td><td> <%= @activities_summary.collect { |i| i[:hours] }.sum  -%></td></tr>
  </table>