

<h1>Review Month</h1>

<%= render :partial => 'sub_menu' -%>

<% form_tag 'week', :method => 'get', :id => 'week_form' do %>
  <%= render :partial => 'reports/date_picker', :locals =>
    { :years => @years, :months => @months, :selected_year => @selected_year, :selected_month => @selected_month } -%>
  <noscript><div><%= submit_tag 'View' %></div></noscript>
<% end %>

<%= observe_form 'week_form',
  :url => {:action => 'update_week'},
  :update => 'week_content' %>

<div id="week_content">
  <%= render :partial => 'week_content', :locals =>
    { :day => @day, :user => @user, :activities_summary => @activities_summary } -%>
</div>

