<h1>Listing customers</h1>

<%= render :partial => 'admin/menu' -%>

<%= will_paginate @customers %>

<table class="regular">
  <tr>
    <th>Name</th><th>Show</th><th>Edit</th><th>Delete</th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><%=h customer.name %></td>
    <td>
      <%= link_to image_tag("application_add.png", :title => "Manage"), customer %>
    </td><td>
      <%= link_to image_tag("pencil.png", :title => "Edit"), edit_customer_path(customer) %>
    </td><td>
      <%= link_to image_tag("delete.png", :title => "Delete"), customer, :method => :delete, :confirm => "Really remove #{customer.name}?" %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New customer', new_customer_path %>