<h1><%= @customer.name %></h1>

<p><%= @customer.billable ? 'Billable' : 'Not billable' %></p>

<h3>Projects</h3>

<p class="error"><%=h flash[:error] %></p>
<p class="notice"><%=h flash[:notice] %></p>

<table class="regular">
  <tr>
    <th>Name</th><th>Department</th><th>Show</th><th>Edit</th><th>Delete</th>
  </tr>

<% @customer.projects.each do |project| %>
  <tr>
    <td><%=h project.name %></td>
    <td><%=h project.department.to_s %></td>
    <td>
      <%= link_to image_tag("application_add.png", :title => "Manage"), project_path(project) %>
    </td><td>
      <%= link_to image_tag("pencil.png", :title => "Edit"), edit_project_path(project) %>
    </td><td>
      <%= link_to image_tag("delete.png", :title => "Delete"), project, :method => :delete, :confirm => 'Really remove project?' %>
    </td>
  </tr>
<% end %>
</table>


<br/>
<br/>

<% form_for(Project.new) do |f| %>
  <%= f.error_messages %>
  <%= f.text_field :name %>
  <%= hidden_field_tag "project[customer_id]", @customer.id %>
  <%= f.submit 'Create New Project' %>
<% end %>

<hr/>

<%= link_to 'Back', customers_path %>
