<h1>Editing project</h1>

<% form_for(@project) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :customer_id %><br />
    <%=  collection_select(:project, :customer_id, Customer.all, :id, :name) %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

  <% customer_id = @project.customer.id %>

<%= link_to 'Back', customer_path(:id => customer_id) %>