<h1>Project: <%= @project.name %></h1>

<h3>
  Customer: <%= link_to @project.customer.name, customer_url(:id => @project.customer.id) %>
</h3>

<hr/>

<div style="float:left; width:70%">
<h4>Current Activities</h4>

<table>

	<tr>
		<th>Name</th>
		<th>Description</th>
		<th>Edit</th>
		<th>Delete</th>
	</tr>
			
	<% for activity in @project.activities do -%>
		<tr>
			<td><%= activity.name %></td>
			<td><%= activity.description %></td>
			<td><%= link_to image_tag("pencil.png", :title => "Edit"), edit_activity_path(activity) %></td>
		    <td><%= link_to image_tag("delete.png", :title => "Delete"), activity_path(activity), :method => :delete, :confirm => 'Really remove activity?' %></td>
		</tr>
	<% end -%>

</table>
</div>

<div style="float:right;margin-top:52px;margin-right:5%" id="activitiesfrom_template">
  
<% templates = Activity.templates.map{|a|a.name} - @project.activities.map{|a|a.name} %>

  <div>
    <% form_tag :controller => 'activities', :action => 'create' do %>
      <%= select_tag "activity[name]", options_for_select( templates ), :multiple => true %>
      <%= hidden_field_tag "activity[project_id]", @project.id %>
    <br/><br/>
      <%= submit_tag "<< Add from Templates" %>
    <% end %>
  </div>
  <br/>

</div>


<div style="clear:both">
<br/>
<hr/>
<br/>
<% form_for(Activity.new) do |f| %>
  <%= f.error_messages %>
  <%= f.text_field :name %>
  <%= hidden_field_tag "activity[project_id]", @project.id %>
  <%= f.submit 'Add Activity' %>
<% end %>

<br/>
<hr/>

<br/><br/>

<%= link_to 'Back', customer_path(:id => @project.customer.id) %>
</div>
