<h1>Edit Tag</h1>

<% form_for @tag do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

   <p>
    <%= f.label :tag_type %><br />
    <%= collection_select(:tag, :tag_type_id, @tag_types, :id, :name) %>
  </p>

    <p>
  <input id="activity_default_activity" type="checkbox" value="1" name="activity[default_activity]" checked="checked"/>
  Public</p>

  <p>
    <%= f.submit "Update" %>
  </p>

<% end %>


