<p class="notice"><%= flash[:notice] %></p>
<p class="error"><%= flash[:error] %></p>
<h1>Manage Tags</h1>

  <%= render :partial => 'activities/sub_menu', :locals => { :tag_types => @tag_types } -%>
<%= will_paginate @tags %>
<table>
  <% @tags.each do |tag| -%>
    <tr>
      <td><%= tag.tag_type_name %> - <%= link_to tag.name, :action => 'edit', :id => tag %></td>
      <td><%= link_to 'Destroy', tag_path(tag), :method => :delete, :tag_type => params[:tag_type] %></td>
    </tr>
  <% end -%>
</table>
<%= will_paginate @tags %>
<hr/>
<p>

  <% form_for Tag.new do |f| -%>
    <% if params[:tag_type] %>
      New <%= TagType.find(params[:tag_type]).name -%> tag: <%= f.text_field :name %>
      <%= f.hidden_field(:tag_type_id, :value => params[:tag_type]) %>
    <% else %>          
      New tag: <%= f.text_field :name %>
      <%= collection_select(:tag, :tag_type_id, @tag_types, :id, :name) %>
    <% end -%>
    <%= submit_tag "Create" %>
  <% end -%>

</p>