
<h1>Tags</h1>
<p class="notice"><%= flash[:notice] %></p>
<p class="error"><%= flash[:error] %></p>

<%= render :partial => 'activities/sub_menu', :locals => { :tag_types => @tag_types } -%>
<br/>
<% form_tag tags_path, :method => :get, :id => 'category_filter' do %>
<table>
    <tr>
      <td><%= label_tag "tag_type","Category"%></td>
      <td><%= select_tag "tag_type", empty_option("All") + options_from_collection_for_select(TagType.all, :id, :name, params[:tag_type].to_i) %></td>
    <td><noscript><div><%= submit_tag "Apply Filter" %></div></noscript></td>
    </tr>
</table>
<% end -%>

<%= observe_field 'tag_type',
      :url => {:action => 'update_tags'},
      :update => 'tags',
      :with => 'tag_type'
       %>

<hr/>

<div id="tags">
  <%=  render :partial => 'tags', :locals => { :tags => @tags } %>
</div>

<hr/>


<% form_for Tag.new do |f| -%>          
  <p>New tag: <%= f.text_field :name %>
    <%= collection_select(:tag, :tag_type_id, @tag_types, :id, :name) %>
    <%= submit_tag "Create" %>
  </p>
<% end -%>

