
<h1>Tags</h1>
<p class="notice"><%= flash[:notice] %></p>
<p class="error"><%= flash[:error] %></p>

<%= render :partial => 'activities/sub_menu', :locals => { :tag_types => @tag_types } -%>

<table>
  <% form_tag tags_path, :method => :get, :id => 'category_filter' do %>
    <tr>
      <td><%= label_tag "Category"%></td>
      <td><%= select_tag "tag_type", empty_option("All") + options_from_collection_for_select(TagType.all, :id, :name, params[:tag_type].to_i) %></td>
    <td><noscript><%= submit_tag "Apply Filter" %></noscript></td>
    </tr>
  <% end -%>
</table>

<%= observe_field 'tag_type',
      :url => {:action => 'update_tags'},
      :update => 'tags',
      :with => 'tag_type'
       %>

<hr/>

<div id="tags">
  <%=  render :partial => 'tags', :locals => { :tags => @tags } %>
</div>

<hr/>
<p>

  <% form_for Tag.new do |f| -%>          
      New tag: <%= f.text_field :name %>
      <%= collection_select(:tag, :tag_type_id, @tag_types, :id, :name) %>
    <%= submit_tag "Create" %>
  <% end -%>

</p>