<p class="notice"><%= flash[:notice] %></p>
<p class="error"><%= flash[:error] %></p>
<h1>Manage Tags</h1>
<hr/>
<%= link_to "Activities", activities_url %> |
Manage Tags |
<%= link_to "Tag Categories", tag_types_url %>
  <hr/>
 	<%= @tag_types.collect { |tt|
		link_to tt.name, :action => 'index', :tag_type => tt.id }.join(' | ') %>
        
  <hr/>
<table>
	<% @tags.each do |c| -%>
		<tr>
				<td><%= c.name_and_type %></td>
				<td><%= link_to "Remove", :action => "destroy", :id => c %></td>
		</tr>
	<% end -%>
</table>
<hr/>
<p>
  <% if params[:tag_type] %>
    <% form_for :tag, @tag, :url => {:action => "create"} do |f| -%>
		New tag: <%= f.text_field :name %>
                <%= f.hidden_field(:tag_type_id, :value => params[:tag_type]) %>
        <%= submit_tag "Create" %>
    <% end -%>
  <% end %>
</p>