<h1><%=h @tag.tag_type.name %> tag: 
  <%=h @tag.name %>
</h1>


  <h3>Activities tagged </h3>
  <% if @tag.activities.count > 0 %>
    <ul><li><%= @tag.activities.map{|a| a.customer_project_name}.join('</li><li>') %></li></ul>
  <% else %>
    <ul><li>None</li></ul>
  <% end %>

  <h3>Time entry taggings</h3>
  <p><b><%=h @tag.time_entries.count %></b> time entries contain this tag with a total of <b><%=h @tag.time_entries.sum(:hours) %></b> hours</p>



