<% unless time_entries.empty? %>
	<% remote_form_for [@user, @time_entry] do |f| -%>
		<%= f.hidden_field :date %>
		<table width="100%" id='<%= "#{day}_time_entries" %>'>
			<tr>
				<th>Activity</th>
				<th>Hour Type</th>
				<th>Hours</th>
				<th>Notes</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
			<% time_entries.each do |te| %>
				<% if @editing_id and @editing_id == te.id -%>
					<tr style="background-color: #eeeeee;">
						<td><%= collection_select(:time_entry, :activity_id, @activities, :id, :customer_project_name) %></td>
						<td><%= collection_select(:time_entry, :hour_type_id, HourType.all(:order => "default_hour_type DESC"), :id, :name) %></td>
						<td><%= f.text_field :hours, :size => 3 %></td>
						<td><%= f.text_field :notes, :size => 47 %></td>
						<td><%= f.submit "S" %></td>
						<td><%= button_to_remote "C", :url => cancel_edit_user_time_entry_path(@user, @time_entry, :day => day), :method => :get %></td>
				 	</tr>
					<tr>
						<td colspan="6"><div id='<%= "#{day}_edit_time_entry_error_messages" %>'></div></td>
					</tr>
				<% else -%>
					<tr id='<%= "show_#{te.id}" %>' class="time_entry">						
						<td width="25%"><%= link_to truncate(te.activity.customer_project_name), activity_path(te.activity) %></td> 
						<td width="15%"><%= truncate(te.hour_type.name, :length => 15) %></td> 
						<td width="5%"><%= te.hours %></td> 
						<td width="45%"><%= te.notes %></td>
						<td width="5%"><%= link_to_remote(image_tag("pencil.png"), { :url => { :action => :edit, :user_id => @user.id, :id => te.id }, :method => :get }, 
							:href => edit_user_time_entry_path(@user, te), :method => :get) %></td>
						<td width="5%"></td>
					</tr>
				<% end -%>
			<% end -%>
		</table>
	<% end -%>
<% end -%>