<div id="new_time_entry">
	<% remote_form_for [@user, @time_entry] do |f| -%>
		<%= f.hidden_field :date %>
		<table id="new_entry_form" style="width: 100%; background-color: #eeeeee">
			<tr>
				<td><%= f.label :activity %></td>
				<td><%= f.label :hour_type %></td>
				<td><%= f.label :hours %></td>
				<td><%= f.label :notes %></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td><%= collection_select(:time_entry, :activity_id, @activities, :id, :customer_project_name) %></td>
				<td><%= collection_select(:time_entry, :hour_type_id, HourType.all(:order => "default_hour_type DESC"), :id, :name) %></td>
				<td><%= f.text_field :hours, :size => 4 %></td>
				<td><%= f.text_field :notes, :size => 40 %></td>
				<td><%= f.submit "Submit" %></td>
				<td><%= button_to_function "Cancel" do |page|
					page.select(".new_time_entry_link").each { |element| element.show }
					page.replace_html "#{@time_entry.weekday}_time_entry_form", ""
				end	%></td>
		 	</tr>
			<tr>
				<div id="new_time_entry_error_messages"></div>
			</tr>
		</table>
	<% end -%>
	<br/>
</div>
