<tr class="time_entry">						
	<td class="time_entry_activity"><%= link_to time_entry.activity.customer_project_name, activity_path(time_entry.activity) %></td>
	<td class="time_entry_hour_type"><%=h truncate(time_entry.hour_type.name, :length => 15) %></td>
	<td class="time_entry_hours"><%= time_entry.hours %></td> 
	<td class="time_entry_notes" title='<%=h time_entry.notes %>'><%=h truncate(time_entry.notes, :length => 60) %></td>
	<td class="time_entry_actions">
                <% unless time_entry.tags.empty? %>
                  <div class="tag_symbol" style="display:inline">
                    <%= image_tag("tag_gray.png") %>
                    <span class="alt"><%= time_entry.tags.join(', ') %> </span>
                  </div>
                <% end %>

		<% if time_entry.locked %>
                    <%= image_tag("pencil_gray.png", :title => "Locked") %>
                <% else %>
			<%= link_to_remote(image_tag("pencil.png", :title => "Edit"), { :url => { :action => :edit, :user_id => @user.id, :id => time_entry.id }, :method => :get }, 
			:href => edit_user_time_entry_path(@user, time_entry), :method => :get) %>
		<% end -%>

		<% unless defined? in_form or time_entry.locked -%>
			<% form_remote_tag :url => user_time_entry_path(@user, time_entry), :confirm => "Are you sure?",
			:html => { :action => confirm_destroy_user_time_entry_path(@user, time_entry, :date => @date), :method => :delete, :class => "inline_form" }  do %>
					<%= image_submit_tag "delete.png", :title => "Delete" %>
				<% end -%>
                <% else %>
                  <%= image_tag("delete_grayed.png", :title => "Delete (disabled)") %>
		<% end -%>
	</td>
</tr>