<tr style="background-color: #eeeeee;">
	<td class="time_entry_activity"><%= collection_select(:time_entry, :activity_id, @activities, :id, :customer_project_name, {}, { :id => "#{day}_editable"} ) %></td>
	<td class="time_entry_hour_type"><%= collection_select(:time_entry, :hour_type_id, HourType.all(:order => "default_hour_type DESC"), :id, :name) %></td>
	<td class="time_entry_hours"><%= f.text_field :hours, :size => 3 %></td>
	<td class="time_entry_notes"><%= f.text_field :notes, :size => 47 %></td>
    <td class="time_entry_actions">
		<%= image_submit_tag("disk.png", :title => 'Save') %>
		<%= link_to_function image_tag("cancel.png", :title => 'Cancel') do |page|
				page.replace_html "#{day}_time_entries_container", :partial => "time_entries", :locals => { :time_entries => time_entries, :day => day } 
			end %>
	</td>
</tr>

<tr>
	<td colspan="6"><div id='<%= "#{day}_time_entry_error_messages" %>'></div></td>
</tr>

<%= set_focus_to_id "#{day}_editable" %>