<h1>Time Entry</h1>
<p class="notice"><%= flash[:notice] %></p>
<p>
	<h2>Week: <%= @date.cweek %></h2>
</p>
<p>  
	<% form_tag('/time_entries/update') do -%>
		<%# hidden_field_tag "date", @date %>
		<table>
			<% @time_entries.sort.each do |time_entry|  -%>
					<% day = time_entry.date.cwday %>
					<%= hidden_field_tag "#{day}-id", time_entry.id %>
					<%= hidden_field_tag "#{day}-date", time_entry.date %>
					<tr>
					<td>
						<%= date_label_for time_entry %>
					</td>
					<td>
						<%= label_tag "Hours" %>
						<%= text_field_tag :hours, time_entry.hours, :size => 5, :id => "#{day}-hours", :name => "#{day}-hours" %>
					</td>
					<td>
						<%= label_tag :notes, "Notes" %>
						<%= text_field_tag :notes, time_entry.notes, :size => 65, :id => "#{day}-notes", :name => "#{day}-notes" %>
					</td>
					</tr>
			<% end -%>
		</table>
		<p>
			<%= submit_tag "Submit" %>
		</p>
	<% end -%>
	<%= link_to "Back", { :controller => "time_entries", :action => "index", :date => @date } %>
</p>