<h1>Edit Time Entry</h1>
<% form_for [@user, @time_entry] do |f| -%>
	<p>
		<%= f.label :activity %>
		<%= collection_select(:time_entry, :activity_id, @activities, :id, :name) %>
	</p>
	<p>
	<%= f.label :hours %>
	<%= f.text_field :hours, :size => 6 %>
	<%= f.label :notes %>
	<%= f.text_field :notes, :size => 40 %>
	</p>
	<p>
		<%= f.submit "Submit" %>
	</p>
	<p>
		<%= f.error_messages %>
	</p>
<% end -%>