<h1>Entries for week <%= @date.cweek %></h1>
<p class="notice"><%= flash[:notice] %></p>
<% form_tag update_multiple_user_time_entries_path(params[:user_id]), :method => :put do -%>
	<%= hidden_field_tag "date", @date %>
	<table class="week_entries">
	<thead>
		<tr>
			<th>Activity</th>
			<th class="week_entries_hours">Mon</th>
			<th class="week_entries_hours">Tue</th>
			<th class="week_entries_hours">Wed</th>
			<th class="week_entries_hours">Thu</th>
			<th class="week_entries_hours">Fri</th>
			<th class="week_entries_hours">Sat</th>
			<th class="week_entries_hours">Sun</th>
		</tr>
	</thead>
	<tbody>
	<% @activities.each do |activity| -%>
	<tr> 
		<td class="week_entries_activity"><%= activity.name %></td>
		<% time_entries = select_by_activity(@time_entries, activity)  %>
		<% time_entries.each do |te| -%>
			<% fields_for "time_entry[]", te, :builder => TimeEntriesFormBuilder do |f| -%>
				<td><%= f.lock_checking_text_field :hours, :size => 5 %></td>
			<% end -%>
		<% end -%>
	</tr>   	
	<% end -%>
	</tbody>
	</table>
	<p>
		<%= submit_tag "Submit" %>
	</p> 
<% end -%>
<p>
	<%= link_to "Back", user_time_entries_path(params[:user_id], :date => @date) %>
</p>