<%= time_entries_heading %>
<%= render :partial => "shared/flash_output" %>

<div class="navigation">
	<h4>
		<%= link_to "<<", user_time_entries_path(:user_id => params[:user_id], :date => @date -7) %>
		<span>Week <%= @date.cweek %></span>
		<%= link_to ">>", user_time_entries_path(:user_id => params[:user_id], :date => @date +7) %>
	</h4>
</div>

<% unless @selectable_activities.empty? %>
	<div id="add_activity">
		<% form_tag(new_activity_user_time_entries_path(@user), :method => :get , :id => 'add_activity_form') do %>
			<%= label_tag 'Activity' %>
			<%= hidden_field_tag 'date', @date %>
		  <%= select_tag('activity_id', options_from_collection_for_select(@selectable_activities, 'id', 'customer_project_name')) %>
			<%= submit_tag 'Add to week' %>
		<% end -%>
	</div>
<% end -%>

<div id="time_entries">
	<table class="time_entries">
		<thead>
			<tr>
				<th class="time_entries">Activity</th>
				<% each_weekday do |day, date| %>
					<th class="time_entries"><%= day %></th>
				<% end -%>
				<th class="time_entries">Sum</th>
			</tr>
		</thead>
		<tbody id="week_activities">
			<% each_activity do |activity, sum_per_day, week_total| %>
				<%= render :partial => 'activity', :locals => { :activity => activity, :sum_per_day => sum_per_day, :week_total => week_total, :user => @user } %>
			<% end -%>
		<tbody>
	</table>
</div>

<div id="time_entry_dialog" style="display: none">
	<b>This is the dialog!</b>
</div>


<% if @current_user.admin %>
  <br />
  <hr />
  <p>
    <% form_tag "/time_entries/change_user" do %>
      <%= hidden_field_tag :user_id, @user.id %>
      <%= hidden_field_tag :date, @date %>
      <%= select_tag "new_user_id", options_from_collection_for_select(User.all.sort, :id, :fullname) %>
      <%= submit_tag "View for selected user" %>
    <% end -%>
  </p>
<% end %>