<h1>Entries for week <%= @date.cweek %> (<%= User.find(params[:user_id]).fullname %>)</h1>
<p class="notice"><%= flash[:notice] %></p>
<p class="error"><%= flash[:error] %></p>
<p>
	<%= link_to "Previous week", user_time_entries_path(:user_id => params[:user_id], :date => @date.beginning_of_week.-(7)) %>
	<%= link_to "Next week", user_time_entries_path(:user_id => params[:user_id], :date => @date.beginning_of_week.+(7)) %>
</p>

<p>
	<%= link_to "New entry", new_user_time_entry_path(@current_user) %>
</p>