<%= time_entries_heading %>
<%= render :partial => "shared/flash_output" %>

<div class="navigation">
	<h4>
		<%= link_to "<<", user_time_entries_path(:user_id => params[:user_id], :date => @date -7) %>
		<span>Week <%= @date.cweek %></span>
		<%= link_to ">>", user_time_entries_path(:user_id => params[:user_id], :date => @date +7) %>
	</h4>
</div>

<div id="time_entries">
	<table class="time_entries">
		<tr>
			<th class="time_entries">Activity</th>
			<% each_weekday do |day, date| %>
				<th class="time_entries"><%= day %></th>
			<% end -%>
			<th class="time_entries">Sum</th>
		</tr>
		<% each_activity do |activity, sum_per_day, week_total| %>
		  <tr>
				<td class="time_entries"><%= activity.customer_project_name %></td>
				<% each_weekday do |day, date| %>
					<td class="time_entries"><%= link_to_remote(sum_per_day[day], :url => new_user_time_entry_path(@user, :date => date, :activity_id => activity.id), 
					                                                              :method => :get, :html => { :id => "#{day}_sum" }) %></td>
				<% end -%>
				<td class="time_entries" id="activity_<%= activity.id %>_week_sum"><%= week_total %></td>
			</tr>
		<% end -%>
	</table>
</div>

<div id="time_entry_dialog" style="display: none">
	<b>This is the dialog!</b>
</div>


<% if @current_user.admin %>
  <br />
  <hr />
  <p>
    <% form_tag "/time_entries/change_user" do %>
      <%= hidden_field_tag :user_id, @user.id %>
      <%= hidden_field_tag :date, @date %>
      <%= select_tag "new_user_id", options_from_collection_for_select(User.all.sort, :id, :fullname) %>
      <%= submit_tag "View for selected user" %>
    <% end -%>
  </p>
<% end %>