<h1>Entries for week <%= @date.cweek %></h1>
<p class="notice"><%= flash[:notice] %></p>
<p>
	<%= link_to "Previous week", time_entries_url(:date => @date.beginning_of_week.-(7)) %>
	<%= link_to "Next week", time_entries_url(:date => @date.beginning_of_week.+(7)) %>
</p>
<% if not @activities.empty? %>
<table class="week_entries">
<thead>
	<tr>
		<th>Activity</th>
		<th class="week_entries_hours">Mon</th>
		<th class="week_entries_hours">Tue</th>
		<th class="week_entries_hours">Wed</th>
		<th class="week_entries_hours">Thu</th>
		<th class="week_entries_hours">Fri</th>
		<th class="week_entries_hours">Sat</th>
		<th class="week_entries_hours">Sun</th>
	</tr>
</thead>
<tbody>
<% @activities.each do |activity_name, time_entries| -%>
	<tr> 
		<td class="week_entries_activity">
			<%= link_to activity_name, edit_multiple_time_entries_url(:ids => ids_from(time_entries), :date => @date), :method => :post %>
		</td>
		<td class="week_entries_hours"><%= time_entries[0].hours %></td>
		<td class="week_entries_hours"><%= time_entries[1].hours %></td>
		<td class="week_entries_hours"><%= time_entries[2].hours %></td>
		<td class="week_entries_hours"><%= time_entries[3].hours %></td>
		<td class="week_entries_hours"><%= time_entries[4].hours %></td>
		<td class="week_entries_hours"><%= time_entries[5].hours %></td>
		<td class="week_entries_hours"><%= time_entries[6].hours %></td>
		<td>
		<%= link_to "Remove", destroy_multiple_time_entries_url(:ids => ids_from(time_entries), :date => @date), :method => :delete %>
		</td>
	</tr>
<% end -%>
</tbody>
</table>
<p>
	<%= link_to "Edit in grid", {:controller => "time_entries", :action => "grid_edit", :id => @user.id, :date => @date} %>
</p>
<% else %>
<p>
	<b>There are no registered time entries for this week</b>
</p>
<% end %>
<p> 
	<% unless @activity_options.empty? -%> 
		<% form_tag create_multiple_time_entries_url do -%>
			<%= hidden_field_tag "date", @date %>
			<%= select "activity", "activity_id", @activity_options %>
			<%= submit_tag "Add selected activity to this week" %>
		<% end -%>
	<% else -%>
		<b>No activities available for time entry</b>
	<% end -%>
</p>