<h1>Entries for week <%= @date.cweek %> (<%= User.find(params[:user_id]).fullname %>)</h1>
<p class="notice"><%= flash[:notice] %></p>
<p class="error"><%= flash[:error] %></p>
<p>
	<%= link_to "Previous week", user_time_entries_path(:user_id => params[:user_id], :date => @date.beginning_of_week.-(7)) %>
	<%= link_to "Next week", user_time_entries_path(:user_id => params[:user_id], :date => @date.beginning_of_week.+(7)) %>
	<% form_tag user_time_entries_path(@user), :method => :get do %>
		<%= select_date @date, :order => [:day, :month, :year] %>
		<%= submit_tag "View" %>
	<% end -%>
</p>
<hr />
<p>
	<% UserWorkWeek::DAYNAMES.each_with_index do |day, index| %>
		<div id="<%= day %>">
			<p>
				<div id='<%= "#{day}_header" %>'>
					<b><%= "#{day} (#{@date.+(index)})" %></b>
					<label id='<%= "#{day}_total_label" %>' for='<%= "#{day}_total" %>'>Total</label>  
					<span id='<%= "#{day}_total" %>'>
						<b><%= @week.day_total(index) %></b>
					 </span> 
					<%= link_to_remote("New", { :url => { :action => :new, :user_id => @user.id, :date => @date.+(index), :day => day }, :method => :get }, 
					:href => new_user_time_entry_path(@user, :date => @date.+(index)), :id => "#{day}_new_time_entry_link" ,  :class => "new_time_entry_link") %> 
				</div>
			
				<p> 
					<div id='<%= "#{day}_time_entries" %>'> 
						<% @week.entries_for_day(index).each do |te| %>
							<%= render :partial => "time_entry", :object => te %>
						<% end -%>
					</div>
				</p> 
			</p>
		</div>
	<% end -%>
</p>
<hr />
<p>
	<% if @current_user.admin -%>
		<% form_tag "/time_entries/change_user" do %>
			<%= hidden_field_tag :user_id, @user.id %>
			<%= hidden_field_tag :date, @date %>
			<%= select_tag "new_user_id", options_from_collection_for_select(User.all, :id, :fullname) %>
			<%= submit_tag "View for selected user" %>
		<% end -%>
	<% end -%>
</p>