<h1>Time Entries for <%= User.find(params[:user_id]).fullname %></h1>
<p class="notice"><%= flash[:notice] %></p>
<p class="error"><%= flash[:error] %></p>
<div class="navigation">
	<h4>
		<%= link_to "<<", user_time_entries_path(:user_id => params[:user_id], :date => @date.beginning_of_week.-(7)) %>
		<span>Week <%= @date.cweek %></span>
		<%= link_to ">>", user_time_entries_path(:user_id => params[:user_id], :date => @date.beginning_of_week.+(7)) %>
	</h4>
</div>
<hr />
<p>
	<% 7.times do |index| %>
		<% day = TimeEntriesController::WEEKDAYS[index] %>
		<div id="<%= day %>">
			<p>
				<div id='<%= "#{day}_header" %>'>
 					<%= render :partial => "day_header", :locals => { :date => @date.+(index), :day => day} %>
				</div>
			    <br />
			<div id='<%= "#{day}_time_entry_form"%>'></div>
			<div id='<%= "#{day}_time_entries_container"%>'>
 				<%= render :partial => "time_entries", :locals => { :time_entries => TimeEntry.find_all_by_user_id_and_date(@user.id, @date.+(index)), :day => day } %>
			</div>
			</p>
		</div>
	<% end -%>
</p>
<hr />
<p>
	<% if @current_user.admin -%>
		<% form_tag "/time_entries/change_user" do %>
			<%= hidden_field_tag :user_id, @user.id %>
			<%= hidden_field_tag :date, @date %>
			<%= select_tag "new_user_id", options_from_collection_for_select(User.all, :id, :fullname) %>
			<%= submit_tag "View for selected user" %>
		<% end -%>
	<% end -%>
</p>