<h1>Review Month
  <%= @current_user.admin ? "for #{h @user.fullname}" : '' %>
</h1>

<br/> 

<% form_tag user_month_review_path(@user, :id => :calendar), :method => :get do %>
  <p>
    <label for="date">Period</label>
    <%= date_select "calendar", "date", {:start_year => Date.today.year - 5 , :end_year => Date.today.year + 1, :discard_day => true, :default => @period.start} %>
    <%= submit_tag 'View' %>
  </p>
<% end %>

<hr/>

<h4 class=""><%= @period.month_name -%></h4>

<div class="calender_activities">

  <table style="border-collapse: collapse;">
    <%=  activities_list( @activities_summary[:billable] ) %>
    <tr><td>&nbsp;</td></tr>
    <%=  activities_list( @activities_summary[:unbillable] ) %>
  </table>

  <br/><br/>
  <div style="text-align:right"><%= link_to 'View details', user_month_review_path(@user, :id => :listing, :calendar => @beginning_of_month) %> </div>
  <br/>
</div>

<div class="calender" style="width:450px">

  <table width="100%" class="regular">
    <tr>
      <th style="min-width: 5%"></th>
      <th>Mon</th>
      <th>Tue</th>
      <th>Wed</th>
      <th>Thu</th>
      <th>Fri</th>
      <th>Sat</th>
      <th>Sun</th>
      <td class="leftline underline">Week total</td>
    </tr>
    <% week_sum = 0 %>
    <% @period.start.beginning_of_week.upto(@period.end.end_of_week) do |d| %>
      <% if d.wday == 1 %>
        <tr>
          <td>
            &nbsp;&nbsp;<b><%= link_to d.cweek.to_s, user_time_entries_path(:user_id => @user, :date => d) %></b>
          </td>
        <% end %>
        <td <%= 'style="color: #E0E0E0;"' if d.month != @period.start.month %>>
          <% day_hours = @user.hours_on_day d; week_sum = week_sum + day_hours%>
          <% day_hours_as_s = day_hours > 0 ? day_hours : '-' %>
          <%= calendar_day_formatted( day_hours_as_s, @period.expected_hours_per_day_in_period[d], d == Time.zone.now.to_date ) %>
        </td>
        <% if d.wday == 0 %>
          <td class="leftline" style="color:gray">
            <%= week_sum %><% week_sum = 0 %>
          </td>
        </tr>
      <% end -%>
    <% end %>
  </table>

  <div class="footer">
    <% hours_color = @period.total_hours >= @period.expected_hours ? '' : 'warn' %>
    <% days_color = @period.total_days >= @period.expected_days ? '' : 'warn' %>
    Hours: <%= " <span class=\"#{hours_color}\"> #{@period.total_hours}</span> / #{@period.expected_hours}" %>,
    days: <%= " <span class=\"#{days_color}\"> #{@period.total_days}</span> / #{@period.expected_days}" %>
  </div>
</div>

<% if @period.has_statistics %>
  <br />
  <fieldset class="statistics">
    <legend>
      Statistics - <%= @period.balance_workdays ? "First #{@period.balance_workdays} working days" : @period.month_name  %>
    </legend>
    <p>
      <label class="info">Balance</label>
      <span class="<%=case @period.balance when (0..9999) then "ok" when (-9999..0) then "red" end -%>">
      <%= "%+.1f" % @period.balance -%> </span> hours
    </p>
    <p>
      <label class="info">Billing degree</label> <%= (@period.billing_degree * 100).round %> %
    </p>
  </fieldset>
<% end %>

<br />
<hr style="clear:both"/>
<br/>

<div class="center">
  <% if @period.locked? -%>
    <input type="submit" value="You have submitted this month" disabled="true"/>
  <% elsif @period.ready_for_approval? -%>
    <p>
      <% form_tag lock_user_time_entries_path(@user) do -%>
        <%= hidden_field_tag "user_id", @user.id %>
        <%= hidden_field_tag "start_date", @period.start %>
        <%= hidden_field_tag "end_date", @period.end %>
        <%= submit_tag "Submit for billing"%>
      <% end -%>
    </p>
  <% else -%>
    <input type="submit" value="Not ready for submission" disabled="true"/>
  <% end -%>
</div>