<h1>Review Month
  <%= @current_user.admin ? "for #{h @user.fullname}" : '' %>
</h1>

<br/>

<% form_tag user_month_review_path(@user, :id => :calendar), :method => :get do %>
  <p>
    <label for="date">Period</label>
    <%= date_select "calendar", "date", {:start_year => Date.today.year - 5 , :end_year => Date.today.year + 1, :discard_day => true, :default => @period.start} %>
    <%= submit_tag 'View' %>
  </p>
<% end %>

<hr/>

<h4 class=""><%= @period.month_name -%></h4>

<div class="calender_activities">
  <table style="border-collapse: collapse;">
    <% @activities_summary.each do |entry| %>
      <tr>
        <td><%= entry[:name] -%></td>
        <td style="text-align:right"><%= entry[:hours] -%></td>
      </tr>
    <% end %>
    <tr>
      <td class="overline">
        <b>Total:</b>
      </td>
      <td class="overline" style="text-align:right; min-width:3em;">
        <b> <%= @period.total_hours -%></b>
      </td>
    </tr>
  </table>
  <br/><br/>
  <div style="text-align:right"><%= link_to 'View details', user_month_review_path(@user, :id => :listing, :calendar => @beginning_of_month) %> </div>
</div>

<div class="calender" style="width:450px">

  <table width="100%" class="regular">
    <tr>
      <th style="min-width: 5%"></th>
      <th>Mon</th>
      <th>Tue</th>
      <th>Wed</th>
      <th>Thu</th>
      <th>Fri</th>
      <th>Sat</th>
      <th>Sun</th>
      <td class="leftline underline">Week total</td>
    </tr>
    <% week_sum = 0 %>
    <% @period.start.beginning_of_week.upto(@period.end.end_of_week) do |d| %>
      <% if d.wday == 1 %>
        <tr>
          <td>
            &nbsp;&nbsp;<b><%= link_to d.cweek.to_s, user_time_entries_path(:user_id => @user, :date => d) %></b>
          </td>
        <% end %>
        <td <%= 'style="color: #E0E0E0;"' if d.month != @period.start.month %>>
          <% day_hours = @user.hours_on_day d; week_sum = week_sum + day_hours%>
          <% day_hours_as_s = day_hours > 0 ? day_hours : '-' %>
          <%= d == Date.today ? "<u>#{day_hours_as_s}</u>" : "#{day_hours_as_s}" -%>
        </td>
        <% if d.wday == 0 %>
        <td class="leftline" style="color:gray">
          <%= week_sum %><% week_sum = 0 %>
        </td>
        </tr>
      <% end -%>
    <% end %>
  </table>

  <div class="footer">
    <% hours_color = @period.total_hours >= @period.expected_hours ? '' : 'warn' %>
    <% days_color = @period.total_days >= @period.expected_days ? '' : 'warn' %>
    Hours: <%= " <span class=\"#{hours_color}\"> #{@period.total_hours}</span> / #{@period.expected_hours}" %>,
    days: <%= " <span class=\"#{days_color}\"> #{@period.total_days}</span> / #{@period.expected_days}" %>
  </div>
</div>


<p>
  Balance:  <%= balance(@period) %>
</p>
<p>
  Billing degree: <%= (@period.billing_degree * 100).round %> %
</p>
<hr/>
<br/>

<div class="center">
  <% if @period.locked? -%>
    <input type="submit" value="You have submitted this month" disabled="true">
  <% elsif @period.ready_for_approval? -%>
    <p>
      <% form_tag lock_user_time_entries_path(@user) do -%>
        <%= hidden_field_tag "user_id", @user.id %>
        <%= hidden_field_tag "start_date", @period.start %>
        <%= hidden_field_tag "end_date", @period.end %>
        <%= submit_tag "Submit for billing"%>
      <% end -%>
    </p>
  <% else -%>
    <input type="submit" value="Not ready for submission" disabled="true">
  <% end -%>
</div>