<h1>Entries for week <%= @week_number %></h1>
<p class="notice"><%= flash[:notice] %></p>
<p>
	<%= link_to "Previous week", previous_new_week_entry_url(:date => @date.beginning_of_week) %>
	<%= link_to "Next week", next_new_week_entry_url(:date => @date.beginning_of_week) %>
</p>
<% if not @week_entries.empty? %>
<table class="week_entries">
<thead>
	<tr>
		<th>Activity</th>
		<th class="week_entries_hours">Mon</th>
		<th class="week_entries_hours">Tue</th>
		<th class="week_entries_hours">Wed</th>
		<th class="week_entries_hours">Thu</th>
		<th class="week_entries_hours">Fri</th>
		<th class="week_entries_hours">Sat</th>
		<th class="week_entries_hours">Sun</th>
	</tr>
</thead>
<tbody>
<% @week_entries.each do |we| -%>
	<tr>
		<td class="week_entries_activity"><%= link_to we.activity.name, edit_week_entry_path(we) %></td>
		<td class="week_entries_hours"><%= we.time_entries.sort[0].hours %></td>
		<td class="week_entries_hours"><%= we.time_entries.sort[1].hours %></td>
		<td class="week_entries_hours"><%= we.time_entries.sort[2].hours %></td>
		<td class="week_entries_hours"><%= we.time_entries.sort[3].hours %></td>
		<td class="week_entries_hours"><%= we.time_entries.sort[4].hours %></td>
		<td class="week_entries_hours"><%= we.time_entries.sort[5].hours %></td>
		<td class="week_entries_hours"><%= we.time_entries.sort[6].hours %></td>
		<td><%= link_to "Remove", we, :confirm => "Sure?", :method => :delete %></td>
	</tr>
<% end -%>
</tbody>
</table>
<% else %>
<p>
	<b>There are no registered activities for this week</b>
</p>
<% end %>
<%= button_to "Add new activity to this week", :action => "new", :date => @date %>
