<h1>Time Entry</h1>
<p>
	<h2>Week: <%= @week_entry.week_number %></h2>
</p>
<p> 		
	<% form_for @week_entry do |week_entry_form| -%>
		<%= collection_select(:activity, :id, @activities, :id, :name) %>
		<%= week_entry_form.hidden_field :year %>
		<%= week_entry_form.hidden_field :week_number %>
		<table>
			<% week_entry_form.fields_for :time_entries do |time_entry_form| -%>
				<%= time_entry_form.hidden_field :date %>
				<tr>
				<td>
					<%= date_label_for time_entry_form.object %>
				</td>
				<td>
					<%= time_entry_form.label :hours, "Hours" %>
					<%= time_entry_form.text_field :hours, :size => 5 %>
				</td>
				<td>
					<%= time_entry_form.label :notes, "Notes" %>
					<%= time_entry_form.text_field :notes, :size => 70 %>
				</td>
				</tr>
			<% end -%>
		</table>
		<p>
			<%= week_entry_form.submit "Submit" %>
			<%= week_entry_form.error_messages %>
		</p>
	<% end -%> 
</p>