<p class="notice"><%= flash[:notice] %></p>
<p class="error"><%= flash[:error] %></p>
<h1>Categories</h1>
<hr/>
<table>
	<% @categories.each do |c| -%>
		<tr>
				<td><%= c.name %></td>
				<td><%= link_to "Remove", :action => "destroy", :id => c %></td>
		</tr>
	<% end -%>
</table>
<hr/>
<p>
	<% form_for :category, @category, :url => {:action => "create"} do |f| -%>
		Category Name: <%= f.text_field :name %>
		<%= submit_tag "Create" %>
	<% end -%>
</p>