<%= page_entries_info activities %>
<hr/>
<%= will_paginate activities %>

<table class="regular">

	<tr>
		<th>Name</th>
		<th>Description</th>
		<th>Edit</th>
		<th>Delete</th>
	</tr>
			
	<% for activity in activities do -%>
		<tr>
			<td><%= activity.name %></td>
			<td><%= activity.description %></td>
			<td><%= link_to image_tag("pencil.png", :title => "Edit"), edit_activity_path(activity) %></td>
		    <td><%= link_to image_tag("delete.png", :title => "Delete"), activity_path(activity), :method => :delete, :confirm => 'Really remove activity?' %></td>   		
		</tr>
	<% end -%>
	
</table>

<br/>
<%= will_paginate activities %>