<p class="notice"><%= flash[:notice] %></p>
<p class="error"><%= flash[:error] %></p>

<% form_for @activity do |f| -%>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>

  <p>
    <%= f.label :tags %><br />
    <%= select_tag 'tags[]', options_from_collection_for_select(Tag.all.sort, :id, :name_and_type, @activity.tags.map { |t| t.id }), :multiple => true, :style=>"width: 223px;" %>
  </p>

  <p>
    <%= f.check_box :active %>
    <%= f.label :active %>
  </p>
  <p>
    <%= f.check_box :default_activity %>
    <%= f.label :default_activity, "Assign to all users" %>
  </p>

  <p>
    <%= f.submit "Save" %>
  </p>
  <p>
  	  <%= f.error_messages %>
  </p>
<% end %>

  <% if @activity.project %>
    <%= link_to "Back", project_url(:id => @activity.project.id) %>
  <% else %>
    <%= link_to "Cancel", activities_url %>
  <% end %>