<h1>Edit Activity</h1>

<% form_for @activity do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :category %>
    <%= collection_select(:activity, :category_id, @categories, :id, :name) %>
  </p>
  <p>
	<%= f.check_box :active %>
	<%= f.label :active %>
  </p>
  <p>
	<%= f.check_box :default_activity %> 
	<%= f.label :default_activity %>
  </p>
  	<%= f.submit "Update" %>
  </p>
<% end %>