
<h1>Activity Templates</h1>

<%= render :partial => "admin/menu" %>

<p class="error"><%= flash[:error] %></p>
<p class="notice"><%= flash[:notice] %></p>

<div id="activities">
  <%=  render :partial => 'activities', :locals => { :activities => @activities } %>
</div>

  <hr/>
<%= link_to "New Activity Template", new_activity_path %>