<h1>Create New Activity</h1>

<% form_for :activity, @activity, :url => {:action => "create"} do |f| -%>
	<%= f.error_messages %>
	<p>
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :description %><br />
		<%= f.text_field :description %>
	</p>
	<p>
		<%= f.check_box :active %>
		<%= f.label :active %>
	</p>
	<p>
		<%= f.check_box :default_activity %> 
		<%= f.label :default_activity %>
	</p>
    <p> 
		<%= f.label :tags %><br/>
        <%= f.collection_select(:tag_ids, Tag.all, :id, :name_and_type, {}, {:multiple => true, :size => 10, :class => "activity_multiselect"})%>
    </p>
	<p> 
		<%= f.label :assignments %><br/>
        <%= f.collection_select(:user_ids, User.all, :id, :fullname, {}, {:multiple => true, :size => 10, :class => "activity_multiselect"})%>
    </p>
	<p>
		<%= f.submit "Create" %>
	</p>
<% end %>
