<h1>Create New Activity</h1>

<% form_for(@activity, :url => {:action => :create} ) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :category %>
    <!--%= collection_select(:activity, :category_id, @categories, :id, :name) %-->
  </p>
  <p>
	<%= f.check_box :active %>
	<%= f.label :active %>
  </p>
  <p>
	<%= f.check_box :default_activity %> 
	<%= f.label :default_activity %>
  </p>
  <p>
  	<%= f.submit "Create" %>
  </p>
<% end %>
