<h1><%= @activity.name %></h1>

<p>
  <%= @activity.description %>
</p>

<p>
   <b>Project:</b>
     <%= @activity.project ? @activity.project.name : 'none' %>
</p>

<p>
  <b>Public:</b>
  <%= @activity.shared %>
</p>

<p>
  <b>Default:</b>
  <%= @activity.default_activity %>
</p>

<p>
<%= link_to "Activity list", activities_url %>
</p>