<h1><%= @activity.name %></h1>

<p>
  <%= @activity.description %>
</p>

<p>
  <b>Public:</b>
  <%= @activity.shared %>
</p>

<p>
  <b>Default:</b>
  <%= @activity.default_activity %>
</p>

<p>
   <b>Tags:</b> <% @activity.tags.each do |tag| %>
      <%= image_tag "led-icons/#{tag.tag_type.icon}.png", :title => tag.tag_type.name -%><%= tag.name -%>,
    <% end %>
</p>

<p>
  <b>Assignments:</b>
  <%= @activity.users.collect(&:fullname).join(", ") %>
</p>
