<p class="notice"><%= flash[:notice] %></p>
<p class="error"><%= flash[:error] %></p>
<h1>Tag Categories</h1>

<hr/>
<%= link_to "Activities", activities_url %> |
<%= link_to "Manage Tags", tags_url %> |
Tag Categories
  <hr/>

<table>
	<% @tag_types.each do |c| -%>
		<tr>
				<td><%= c.name %></td>
				<td><%= link_to "Remove", :action => "destroy", :id => c %></td>
		</tr>
	<% end -%>
</table>
<hr/>
<p>
	<% form_for :tag_type, @tag_type, :url => {:action => "create"} do |f| -%>
		Tag Name: <%= f.text_field :name %>
		<%= submit_tag "Create" %>
	<% end -%>
</p>