<p class="notice"><%= flash[:notice] %></p>
<p class="error"><%= flash[:error] %></p>
<h1>Categories</h1>

<%= render :partial => 'customers/sub_menu', :locals => { :tag_types => @tag_types } -%>
<br/>

<table>
  <% @tag_types.each do |c| -%>
  <tr>
    <td><%= image_tag "led-icons/#{c.icon}.png", :alt => "" %></td>
    <td><%= c.name %></td>
    <td>
      <%= link_to image_tag("pencil.png", :title => "Edit"), :action => "edit", :id => c %>
      <%= link_to image_tag("delete.png", :title => "Delete"), tag_type_path(c), :method => :delete, :confirm => 'Really remove category?' %>
    </td>
</tr>
  <% end -%>
</table>

<hr/>

<% form_for :tag_type, @tag_type, :url => {:action => "create"} do |f| %>
  <div><%= label_tag "tag_type_name","New tag type"%> <%= f.text_field :name %>
    <%= submit_tag "Create" %></div>
  
<% end -%>
