

<% form_tag 'hours', :method => 'get', :id => 'hours_form' do %>
  <div style="width:65%">
    <table style="float:right">
      <tr>
        <td><%= label_tag "grouping","Group by" %></td>
        <td><%= select_tag "grouping", empty_option("No grouping") + options_for_select(['Consultant','Activity','Date'], params[:grouping]) %></td>
      </tr>
      <tr>
        <td><%= label_tag "sort by" %></td>
        <td><%= select_tag "sort_by", options_for_select(['Date','Consultant - Date','Activity - Date'], params[:sort_by]) %></td>
      </tr>
      <tr>
        <td><%= label_tag "page_break","Pagebreak in PDF", :class => 'disabled' %></td>
        <td><%= check_box_tag "page_break", 1, params[:page_break], {:disabled => true} %></td>
      </tr>
    </table>

    <table>
      <tr>
        <td><%= label_tag "year" %></td>
        <td><%= select_tag "year", options_for_select(years, params[:year].to_i) %></td>
      </tr>
      <tr>
        <td><%= label_tag "month" %></td>
        <td><%= select_tag "month", options_from_collection_for_select( months, 'first', 'last', params[:month].to_i  ) %></td>
      </tr>
      <tr>
        <td><%= label_tag "days" %></td>
        <td><%= select_tag "days", empty_option("All") + options_for_select(['1..15','16..31'], params[:days]) %></td>
      </tr>
      <tr>
        <td><%= label_tag "billed" %></td>
        <td><%= select_tag "billed", options_for_select(boolean_options, params[:billed]) %></td>
      </tr>
      <tr>
        <td><%= label_tag "user" %></td>
        <td><%= select_tag "user", empty_option("All") + options_from_collection_for_select( User.all, :id, :fullname, params[:user].to_i ) %></td>
      </tr>
      <tr>
        <td><%= label_tag "tag_type_id","Category"%></td>
        <td><%= select_tag "tag_type_id", empty_option("All") + options_from_collection_for_select(TagType.all, :id, :name, params[:tag_type_id].to_i) %></td>
      </tr>
      <tr>
        <% if tag_type %>
          <td><%= label_tag "tag_id",'Tag'%></td>
          <td><%= select_tag "tag_id", empty_option("All") + options_from_collection_for_select(tag_type.tags, :id, :name, params[:tag_id].to_i) %></td>
        <% else %>
          <td><%= label_tag "tag_id","Tag", :class => 'disabled' %></td>
          <td><%= select_tag "tag_id", empty_option("-----------"), {:disabled => true} %></td>
        <% end %>
      </tr>
      <tr><td></td></tr>
      <tr><td></td><td><%= submit_tag "Apply Filter" %></td> </tr>
    </table>
  </div>
<% end -%>

<%= observe_form 'hours_form',
      :url => {:action => 'update_hours_form'},
      :update => 'hours_filter' %>
