

<% form_tag 'hours', :method => 'get', :id => 'hours_form' do %>
  <div id="hours_form">
    <table style="width:100%;vertical-align:top;">
      <tr>
        <th>Period</th><th>Options</th><th>Formatting</th>
      </tr>
      <tr>

        <td>
          <table>
            <tr>
              <td><%= label_tag "from" %></td>
              <td><%= select_tag "from_year", options_for_select(years, params[:year].to_i) %></td>
            </tr>
            <tr>
              <td></td>
              <td><%= select_tag "from_month", options_from_collection_for_select( months, 'first', 'last', params[:month].to_i  ) %></td>
            </tr>
            <tr>
              <td></td>
              <td><%= select_tag "from_day", options_for_select((1..31), 1) %></td>
            </tr>
            <tr> <td></td></tr>
            <tr>
              <td><%= label_tag "to" %></td>
              <td><%= select_tag "to_year", options_for_select(years, params[:year].to_i) %></td>
            </tr>
            <tr>
              <td></td>
              <td><%= select_tag "to_month", options_from_collection_for_select( months, 'first', 'last', params[:month].to_i  ) %></td>
            </tr>
            <tr>
              <td></td>
              <td><%= select_tag "to_day", options_for_select((1..31), 31) %></td>
            </tr>
          </table>
        </td>

        <td>
          <table>
            <tr>
              <td><%= label_tag "billed" %></td>
              <td><%= select_tag "billed", options_for_select(boolean_options, params[:billed]) %></td>
            </tr>
            <tr>
              <td><%= label_tag "user" %></td>
              <td><%= select_tag "user", empty_option("All") + options_from_collection_for_select( User.all, :id, :fullname, params[:user].to_i ) %></td>
            </tr>
            <tr> <td></td></tr>
            <tr>
              <td><%= label_tag "tag_type_id","Category"%></td>
              <td><%= select_tag "tag_type_id", empty_option("All") + options_from_collection_for_select(TagType.all, :id, :name, params[:tag_type_id].to_i) %></td>
            </tr>
            <tr>
              <% if tag_type %>
                <td><%= label_tag "tag_id",'Tag'%></td>
                <td><%= select_tag "tag_id", empty_option("All") + options_from_collection_for_select(tag_type.tags, :id, :name, params[:tag_id].to_i) %></td>
              <% else %>
                <td><%= label_tag "tag_id","Tag", :class => 'disabled' %></td>
                <td><%= select_tag "tag_id", empty_option("-----------"), {:disabled => true} %></td>
              <% end %>
            </tr>
            <tr> <td></td></tr>
            <tr>
              <td><%= label_tag "customer_id"%></td>
              <td><%= select_tag "customer_id", empty_option("All") + options_from_collection_for_select( Customer.all, 'id', 'name', params[:customer_id].to_i  ) %></td>
            </tr>
            <tr>
         <% if customer %>
                <td><%= label_tag "project_id",'Project'%></td>
                <td><%= select_tag "project_id", empty_option("All") + options_from_collection_for_select(customer.projects, :id, :name, params[:project_id].to_i) %></td>
              <% else %>
                <td><%= label_tag "project_id",'Project', :class => 'disabled' %></td>
                <td><%= select_tag "project_id", empty_option("-----------"), {:disabled => true} %></td>
              <% end %>
            </tr>
          </table>
        </td>

          <td><table>

            <tr>
              <td><%= label_tag "grouping","Group by" %></td>
              <td><%= select_tag "grouping", empty_option("No grouping") + options_for_select(['Consultant','Activity','Date'], params[:grouping]) %></td>
            </tr>
            <tr>
              <td><%= label_tag "sort by" %></td>
              <td><%= select_tag "sort_by", options_for_select(['Date','Consultant - Date','Activity - Date'], params[:sort_by]) %></td>
            </tr>
            <tr>
              <td><%= label_tag "page_break","Pagebreak in PDF", :class => '___disabled' %></td>
              <td><%= check_box_tag "page_break", 1, params[:page_break] %></td>
            </tr>
            <tr>
              <td><%= label_tag "page_break","Remove comments", :class => 'disabled' %></td>
              <td><%= check_box_tag "page_break", 1, params[:page_break] %></td>
            </tr>
       </table></td>

      </tr>
    </table>
    <br/>
    <%= hidden_field_tag 'type', "advanced" %>
    <%= submit_tag "Apply Filter" %>
    <%= link_to "Simple form", params.merge({:action => "hours", :type => "simple"}) %>
    
  </div>
<% end -%>


<%= observe_form 'hours_form',
  :url => {:action => 'update_hours_advanced_form'},
  :update => 'hours_filter' %>
