

<% form_tag 'hours', :method => 'get', :id => 'hours_form' do %>
  <div>
    <table>
      <tr>
        <td><%= select_tag "year", options_for_select(years, params[:year].to_i) %></td>

        <td><%= select_tag "month", options_from_collection_for_select( months, 'first', 'last', params[:month].to_i  ) %></td>

        <td><%= select_tag "customer", options_from_collection_for_select( Customer.all, :id, :name, params[:customer].to_i ) %></td>

      <td><%= submit_tag "View" %></td>
      
      <td><%= link_to "Advanced options", params.merge({:action => "hours", :type => "advanced"}) %></td></tr>
      <% "TODO: hidden for styling and billed" %>
    </table>
  </div>
<% end -%>

