
<% if @time_entries != nil %>

<% unless @time_entries.empty? %>

  <% user_entries = @time_entries.group_by(&@group_by) %>
  <% user_entries.each do |group, te| %>
    <h3>
    <%= case @group_by
        when :activity then group.customer_project_name
        when :user then group.name
        else group.to_s end %>
    </h3>
    <table width="100%" class="regular">
      <tr>
        <% columns = %w{Date User Activity Type Status Hours Notes};
           columns.delete(@group_by.to_s.capitalize) %>
        <% columns.each do |column| %>
          <th><%= column %></th>
        <% end %>
      </tr>
      <%te.each do |entry| %>
        <tr>
          <% unless @group_by == :date %><td style="white-space:nowrap;"><%= entry.date -%></td><% end %>
          <% unless @group_by == :user %><td style="white-space:nowrap;"><%= entry.user.name -%></td><% end %>
          <% unless @group_by == :activity %><td style="white-space:nowrap;"><%= entry.activity.name -%></td><% end %>
          <td style="white-space:nowrap;"><%= entry.hour_type.name -%></td>
          <td><%= entry.billed ? 'billed' : (entry.locked ? 'locked' : 'open' ) -%></td>
          <td><%= entry.hours -%></td>
          <td width="50%"><%=h entry.notes -%></td>
        </tr>
      <% end %>
    </table>
 <br/>
  <% end %>

  <table>
    <tr>
      <td>
        <% form_tag :action => 'mark_time_entries', :method => 'post' do %>
          <%= render_hidden_hours_tags(params) %>
          <%= hidden_field_tag 'mark_as',  'billed' %>
          <%= hidden_field_tag 'value',  'true' %>
          <%= submit_tag 'Mark as billed' %>
        <% end %>
      </td>
      <td>
        <% form_tag :action => 'mark_time_entries', :method => 'post' do %>
          <%= render_hidden_hours_tags(params) %>
          <%= hidden_field_tag 'mark_as',  'billed' %>
          <%= hidden_field_tag 'value',  'false' %>
          <%= submit_tag 'Change to unbilled', :confirm => 'Really mark selected entries as unbilled?' %>
        <% end %>
      </td>
      <td>
        <% form_tag :action => 'mark_time_entries', :method => 'post' do %>
          <%= render_hidden_hours_tags(params) %>
          <%= hidden_field_tag 'mark_as',  'locked' %>
          <%= hidden_field_tag 'value',  'false' %>
          <%= submit_tag 'Unlock' %>
        <% end %>
      </td>
    </tr>
  </table>

  <br/><hr/>
  Download report:<%= link_to image_tag("pdficon_small.gif", :alt => "pdf"), params.merge({:format => "pdf",:action => 'search'})%>

  <% else %>
    <p>No hits.</p>
  <% end %>
<% end %>

