
<% if @time_entries != nil %>

  <% user_entries = @time_entries.group_by(&@group_by) %>
  <% user_entries.each do |group, te| %>
    <h3><%= group.respond_to?('name') ? group.name : group.to_s %></h3>
    <table>
      <tr>
        <% columns = %w{Date User Activity Type Billed Hours Notes};
           columns.delete(@group_by.to_s.capitalize) %>
        <% columns.each do |column| %>
          <th><%= column %></th>
        <% end %>
      </tr>
      <%te.each do |entry| %>
        <tr>
          <% unless @group_by == :date %><td><%= entry.date -%></td><% end %>
          <% unless @group_by == :user %><td><%= entry.user.name -%></td><% end %>
          <% unless @group_by == :activity %><td><%= entry.activity.name -%></td><% end %>
          <td><%= entry.hour_type.name -%></td>
          <td><%= entry.billed -%></td>
          <td><%= entry.hours -%></td>
          <td><%= entry.notes -%></td>
        </tr>
      <% end %>
    </table>
  <% end %>

  <br/>

  <table>
    <tr>
      <td>
        <% form_tag :action => 'mark_time_entries', :method => 'post' do %>
          <%= render_hidden_hours_tags(params) %>
          <%= hidden_field_tag 'mark_as',  'billed' %>
          <%= hidden_field_tag 'value',  'true' %>
          <%= submit_tag 'Mark as billed' %>
        <% end %>
      </td>
      <td>
        <% form_tag :action => 'mark_time_entries', :method => 'post' do %>
          <%= render_hidden_hours_tags(params) %>
          <%= hidden_field_tag 'mark_as',  'billed' %>
          <%= hidden_field_tag 'value',  'false' %>
          <%= submit_tag 'Change to unbilled', :confirm => 'Really mark selected entries as unbilled?' %>
        <% end %>
      </td>
    </tr>
  </table>

  <br/><hr/>
  Download report:<%= link_to image_tag("pdficon_small.gif", :alt => "pdf"), params.merge({:format => "pdf",:action => 'search'})%>

<% else %>
  <p>No hits to display</p>
<% end %>

