
<% if @time_entries != nil %>

<% unless @time_entries.empty? %>

<p>Found <%=  @time_entries.size %> entries / <%= @time_entries.sum(&:hours) %> hours</p>

  <% user_entries = @time_entries.group_by(&@group_by) %>
  <% user_entries.each do |group, te| %>
    
    <% group_header = case @group_by
        when :activity then group.customer_project_name
        when :user then group.name
        else group.to_s end %>

    <h3><%= "#{group_header}, #{te.sum(&:hours)} hours"%></h3>

    <table width="100%" class="regular">
      <tr>
        <% columns = %w{Date User Activity Type Status };
           columns.delete(@group_by.to_s.capitalize) %>
        <% columns.each do |column| %>
          <th><%= column %></th>
        <% end %>
        <th width="2%" style="text-align:right">Hours</th>
        <th width="55%">Notes</th>

      </tr>
      <%te.each do |entry| %>
        <tr>
          <% unless @group_by == :date %><td style="white-space:nowrap;"><%= entry.date -%></td><% end %>
          <% unless @group_by == :user %><td style="white-space:nowrap;"><%= entry.user.name -%></td><% end %>
          <% unless @group_by == :activity %><td style="white-space:nowrap;"><%= entry.activity.name -%></td><% end %>
          <td style="white-space:nowrap;"><%= entry.hour_type.name -%></td>
          <td><%= entry.status_str -%></td>
          <td style="text-align:right"><%= entry.hours -%></td>
          <td><%=h entry.notes -%></td>
        </tr>
      <% end %>
    </table>
 <br/>


  <% end %>
<hr/>
 <br/>
  <table>
    <tr>
      <td>
        <% form_tag :action => 'mark_time_entries', :method => 'post' do %>
          <%= render_hidden_hours_tags(params) %>
          <%= hidden_field_tag 'mark_as',  'billed' %>
          <%= hidden_field_tag 'value',  'true' %>
          <%= submit_tag 'Mark as billed' %>
        <% end %>
      </td>
      <td>
        <% form_tag :action => 'mark_time_entries', :method => 'post' do %>
          <%= render_hidden_hours_tags(params) %>
          <%= hidden_field_tag 'mark_as',  'billed' %>
          <%= hidden_field_tag 'value',  'false' %>
          <%= submit_tag 'Change to unbilled', :confirm => 'Really mark selected entries as unbilled?' %>
        <% end %>
      </td>
      <td>
        <% form_tag :action => 'mark_time_entries', :method => 'post' do %>
          <%= render_hidden_hours_tags(params) %>
          <%= hidden_field_tag 'mark_as',  'locked' %>
          <%= hidden_field_tag 'value',  'false' %>
          <%= submit_tag 'Unlock' %>
        <% end %>
      </td>
      <td style="padding-left:50px">
        <%= link_to "Download report:" + image_tag("pdficon_small.gif", :alt => "pdf"), params.merge({:format => "pdf",:action => 'search'})%>
      </td>
    </tr>
  </table>

  <br/>
  
  <% else %>
    <p>No hits.</p>
  <% end %>
<% end %>

