<h1>Billing</h1>

<%= render :partial => 'sub_menu' -%>

<p class="error"><%= flash[:error] %></p>
<p class="notice"><%= flash[:notice] %></p>

<div>
 <%= render :partial => 'month_year_picker', :locals => { :action => 'billing', :day => @day, :years => @years, :months => @months} %>
</div>

<hr/>

<div id="billing_content">
  <%= render :partial => 'billing_content', :locals => { :day => @day, :billable_customers => @billable_customers} %>
</div>



