
<h2><%= @tag_type.name -%> Report</h2>

<p class="error"><%= flash[:error] %></p>
<p class="notice"><%= flash[:notice] %></p>

<%= @tag_types.collect { |tt|
  link_to tt.name, :action => 'billing', :tag_type => tt.id }.join(' | ') %>
<hr/>
<% if @debug then %>
  <p><%= @debug %>,  (<%= @debug.class %>)</p>
<% end %>


<% if @tags %>
  <% form_tag :action => 'billing', :method => 'get' do %>
    <label for="tag">Select <%= @tag_type.name -%> </label>
     <%= select_tag('tag', options_from_collection_for_select( @tags, 'id', 'name', (if @tag then @tag.id else '' end) ) ) %>

      <%= render :partial => 'date_picker', :locals =>
    { :years => @years, :months => @months, :selected_year => @selected_year, :selected_month => @selected_month } -%>

    <%= hidden_field_tag "tag_type", @tag_type.id %>
    <%= submit_tag 'Generate' %>
<% end %>

    <hr/>

  <%= render_table @table -%>

  <% unless is_empty? @table %>
    <% form_tag :action => 'billing', :method => 'post' do %>
      
      <%= render :partial => 'download', :locals => { :params => params } -%> <%#TODO: stylesheet position %>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= hidden_field_tag "tag_type", @tag_type.id %>
      <%= hidden_field_tag "tag", @tag.id %>
      <%= submit_tag 'Mark as billed' %>
    <% end %>
  <% end %>

 
<% end %>

