
<h1>Customer Report</h1>

<%= render :partial => 'sub_menu' -%>

<p class="error"><%= flash[:error] %></p>
<p class="notice"><%= flash[:notice] %></p>

<div>
 <%= render :partial => 'month_year_picker', :locals => { :action => 'customer', :day => @day, :years => @years, :months => @months} %>
</div>

<br/>

<div id="customer_content">
  <%= render :partial => 'customer_content', :locals => { :project_hours => @project_hours} %>
</div>