
<h1>Details</h1>

<%= render :partial => 'sub_menu' -%>

<br />

<table>
  <tr><td>User     </td><td><b><%= @user.fullname %> </b></td></tr>
  <tr><td>Project  </td><td><b><%= @project.name %></b></td></tr>
  <tr><td>Customer </td><td><b><%= @project.customer.name %></b></td></tr>
</table>
<br/>
<% time_entries = TimeEntry.for_user(@user).for_project(@project).between(@day, @day.at_end_of_month) %>

<table width="100%" class="regular">
  <tr><th>Date</th><th>Activity</th><th>Type</th><th>Hours</th><th>Notes</th></tr>
<% time_entries.each do |e|%>
  <tr>
<td><%= e.date %></td>
<td><%= e.activity.name %></td>
<td><%= e.hour_type.name %></td>
<td><%= e.hours %></td>
<td width="60%"><%= e.notes %></td>
  </tr>
<% end %>
</table>

<br/>
<%= link_to "Back", :action => 'billing' %>