
<h1>Hours Report</h1>

<p class="error"><%= flash[:error] %></p>
<p class="notice"><%= flash[:notice] %></p>

<div id="hours_filter">
  <%= render :partial => 'hours_form', :locals => { :params => params, :tag_type => @tag_type, :years => @years, :months => @months } -%>
</div>



<hr/>

<%= render_table @table -%>

<% if ! is_empty? @table && params[:year] && params[:month] %>
  <br/>
  <% form_tag :action => 'hours', :method => 'post' do %>
    <%= hidden_field_tag 'grouping',  params[:grouping] %>
    <%= hidden_field_tag 'page_break',  params[:page_break] %>
    <%= hidden_field_tag 'year',  params[:year] %>
    <%= hidden_field_tag 'month',  params[:month] %>
    <%= hidden_field_tag 'billed',  params[:billed] %>
    <%= hidden_field_tag 'user',  params[:user] %>
    <%= hidden_field_tag 'tag_type_id',  params[:tag_type_id] %>
    <%= hidden_field_tag 'tag_id',  params[:tag_id] %>
    <%= submit_tag 'Mark as billed' %>
  <% end %>
<% end %>

<%#= params.to_json %>

<%= render :partial => 'download', :locals => { :params => params, :action => 'hours' } -%>

