
<h1>Hours Report</h1>

<p class="error"><%= flash[:error] %></p>
<p class="notice"><%= flash[:notice] %></p>

<div id="hours_filter">
  <%= render :partial => 'hours_form', :locals => { :params => params, :tag_type => @tag_type, :years => @years, :months => @months } -%>
</div>



<hr/>

<%= render_table @table -%>

<% if ! is_empty? @table && params[:year] && params[:month] %>
  <br/>

  <% form_tag :action => 'mark_time_entries', :method => 'post' do %>
    <%= render_hidden_hours_tags(params) %>
    <%= hidden_field_tag 'mark_as',  'locked' %>
    <%= submit_tag 'Mark as locked' %>
  <% end %>

  <% form_tag :action => 'mark_time_entries', :method => 'post' do %>
    <%= render_hidden_hours_tags(params) %>
    <%= hidden_field_tag 'mark_as',  'billed' %>
    <%= submit_tag 'Mark as billed' %>
  <% end %>

<% end %>

<%#= params.to_json %>

<%= render :partial => 'download', :locals => { :params => params, :action => 'hours' } -%>

