
<h2><%= @title %></h2>

<% if @debug then %>
  <p><%= @debug %>,  (<%= @debug.class %>)</p>
<% end %>

<% form_tag :action => 'hours', :method => 'get' do %>
  <label for="user">User</label>
   <%= select_tag('user', options_from_collection_for_select( @users, 'id', 'fullname', @selected_user.id) ) %>

  <%= render :partial => 'date_picker', :locals =>
    { :years => @years, :months => @months, :selected_year => @selected_year, :selected_month => @selected_month } -%>

  <%= submit_tag 'Generate' %>
<% end %>

  <hr/>


<%= render_table @table -%>

<%= render :partial => 'download', :locals => { :params => params } -%>


