
<br />

<table width="100%">
  <tr>
    <td width="30%">
      <h1>General Reports</h1>
      <ul>
        <li><h3><%=  link_to "Billing", :action => 'billing' %></h3></li>
        <li><h3><%=  link_to "Search", :action => 'search' %></h3></li>
        <li><h3><%=  link_to "Customers", :action => 'customer' %></h3></li>
        <li><h3><%=  link_to "User Hours", :action => 'user' %></h3></li>
      </ul>
    </td>
    <td>
      <h1>Assigned Projects</h1>
      <ul>
        <% unless @current_user.projects.empty? %>
        <% for project in @current_user.projects %>
        <li><h3><%= link_to project.name, :action => "project", :project => project %></h3></li>
        <% end %>
        <% else %>
          <li>No project assignments</li>
        <% end %>
</ul>
    </td>
  </tr>
</table>








