
<h1><%= @project.name  %> </h1>

<%= render :partial => 'sub_menu' -%>

<p class="error"><%= flash[:error] %></p>
<p class="notice"><%= flash[:notice] %></p>

<div>
 <%= render :partial => 'month_year_picker', :locals => { :action => 'project', :day => @day, :years => @years, :months => @months,
   :hidden_fields => hidden_field_tag( 'project', @project.id )} %>
</div>

<br/>

<div id="project_content">
  <%= render :partial => 'project_content', :locals => { :user_activity_hours => @user_activity_hours} %>
</div>

