
<h2><%= @title %></h2>

<% if @debug then %>
  <p><%= @debug %>,  (<%= @debug.class %>)</p>
<% end %>

<%= @table.to_html() -%>

<%= render :partial => 'download', :locals => { :params => params } -%>


 
