
<h1>Summary Report</h1>

<%= render :partial => 'sub_menu' -%>

<p class="error"><%= flash[:error] %></p>
<p class="notice"><%= flash[:notice] %></p>

<% form_tag 'summary', :method => 'get', :id => 'hours_form' do %>

    <table>
      <tr>
        <td><%= label_tag "year" %></td>
        <td><%= select_tag "year", options_for_select(@years, params[:year].to_i) %></td>
      </tr>
      <tr>
        <td><%= label_tag "month" %></td>
        <td><%= select_tag "month", options_from_collection_for_select( @months, 'first', 'last', params[:month].to_i  ) %></td>
      </tr>

      <tr><td></td></tr>
      <tr><td></td><td><%= submit_tag "Apply Filter" %></td> </tr>
    </table>

<% end -%>

<br/>

    <table class="regular">
      <tr>
        <th>Activity name</th>
        <th>Hours</th>
      </tr>
      <% sum = 0 %>
      <% @activities_hours.each do |activity, hours| %>
      <tr>
        <td><%= activity %></td>
        <td style="text-align:right"><%= hours %></td>
        <% sum += hours %>
      </tr>
      <% end %>

      <tr style="text-align:right">
        <th style="border-width: 1px; border-top-style: solid;">Total</th>
        <th style="border-width: 1px; border-top-style: solid;"><%= sum %></th>

      </tr>

    </table>


<%#= render_table @table -%>
<%#= render :partial => 'download', :locals => { :params => params, :action => 'summary' } -%>

