<%= render :partial => 'sub_menu' -%>

<h1>Summary Report</h1>

<p class="error"><%= flash[:error] %></p>
<p class="notice"><%= flash[:notice] %></p>

<% form_tag 'summary', :method => 'get', :id => 'hours_form' do %>

    <table>
      <tr>
        <td><%= label_tag "year" %></td>
        <td><%= select_tag "year", options_for_select(@years, params[:year].to_i) %></td>
      </tr>
      <tr>
        <td><%= label_tag "month" %></td>
        <td><%= select_tag "month", options_from_collection_for_select( @months, 'first', 'last', params[:month].to_i  ) %></td>
      </tr>
      <tr>
        <td><%= label_tag "days" %></td>
        <td><%= select_tag "days", empty_option("All") + options_for_select(['1..15','16..31'], params[:days]) %></td>
      </tr>
      <tr>
        <td><%= label_tag "tag_type_id","Category"%></td>
        <td><%= select_tag "tag_type_id", empty_option("All") + options_from_collection_for_select(TagType.all, :id, :name, params[:tag_type_id].to_i) %></td>
      </tr>
      <tr>
        <% if @tag_type %>
          <td><%= label_tag "tag_id",'Tag'%></td>
          <td><%= select_tag "tag_id", empty_option("All") + options_from_collection_for_select(@tag_type.tags, :id, :name, params[:tag_id].to_i) %></td>
        <% else %>
          <td><%= label_tag "tag_id","Tag", :class => 'disabled' %></td>
          <td><%= select_tag "tag_id", empty_option("-----------"), {:disabled => true} %></td>
        <% end %>
      </tr>
      <tr><td></td></tr>
      <tr><td></td><td><%= submit_tag "Apply Filter" %></td> </tr>
    </table>

<% end -%>

<hr/>

<%= render_table @table -%>


<%= render :partial => 'download', :locals => { :params => params, :action => 'summary' } -%>

