
<h2>Unbilled Report</h2>

<p class="error"><%= flash[:error] %></p>
<p class="notice"><%= flash[:notice] %></p>


  <% form_tag :action => 'unbilled', :method => 'get' do %>
        <%= render :partial => 'date_picker', :locals =>
    { :years => @years, :months => @months, :selected_year => @selected_year, :selected_month => @selected_month } -%>

    <%= submit_tag 'Generate' %>
<% end %>

    <hr/>

  <%= render_table @table -%>

  <% unless is_empty? @table %>
    <% form_tag :action => 'unbilled', :method => 'post' do %>
      <%= submit_tag 'Mark as billed' %>
    <% end %>
  <% end %>

 <%= render :partial => 'download', :locals => { :params => params } -%>

