
<h1><%= @title %></h1>

<%= render :partial => 'sub_menu' -%>

<% if @debug then %>
  <p><%= @debug %>,  (<%= @debug.class %>)</p>
<% end %>

<% form_tag :action => 'user', :method => 'get' do %>

  <label for="status">Status</label>
  <%= select_tag "status", options_for_select(User.status_values, params[:status].to_i), {:include_blank => 'None'} %>

  <%= submit_tag 'Generate' %>
<% end %>

  <hr/>


<%= @table.to_html() -%>

<%= render :partial => 'download', :locals => { :params => params, :action => 'user' } -%>


