
<h1>User Report</h1>

<%= render :partial => 'sub_menu' -%>

<p class="error"><%= flash[:error] %></p>
<p class="notice"><%= flash[:notice] %></p>


<% form_tag :action => 'user', :method => 'get' do %>
  <label for="status">Status</label>
  <%= select_tag "status", options_for_select(User.status_values, params[:status].to_i), {:include_blank => 'None'} %>
  <%= submit_tag 'Generate' %>
<% end %>

  <br/>
  <hr/>

  <table>
    <tr>
      <th></th>
      <% @weeks.each do |date| %>
      <th>Week <%= date.cweek %> </th>
      <% end %>
    </tr>

    <tr class="grayed">
      <td>Normal working hours</td>
      <% @expected.each do |hours| %>
      <td><%= hours %> </td>
      <% end %>
    </tr>

    <% @users.each do |user| %>
      <tr>
        <td><%=h user.name %> </td>
        <% @weeks.each_with_index do |date, index| %>
          <% hours = TimeEntry.for_user(user).between(date, (date + 6)).sum(:hours) %>
          <% color_code = case hours
              when 0..(@expected[index] -1): "warn"
              when (@expected[index])..(@expected[index] * 1.4): "ok"
              else "error"
          end %>

            <td class="<%= color_code -%>"><%= hours %></td>

        <% end %>
      </tr>
    <% end %>

    <tr>
      <th>Total</th>
      <% @totals.each do |total| %>
      <th><%= total %></th>
      <% end %>
    </tr>
    
  </table>
  <br/>

<%#= render :partial => 'download', :locals => { :params => params, :action => 'user' } -%>


