<% expected_days = Holiday.expected_days_between(@day,@day.at_end_of_month) -%>
<% expected_hours = Holiday.expected_hours_between(@day,@day.at_end_of_month) -%>

<h1>User Report</h1>

<%= render :partial => 'sub_menu' -%>

<p class="error"><%= flash[:error] %></p>
<p class="notice"><%= flash[:notice] %></p>

<% form_tag 'user', :method => 'get', :id => "user_form" do %>
  <div>
    <table>
      <tr>
        <td><%= select_tag "month", options_from_collection_for_select( @months, 'first', 'last', params[:month] ? params[:month].to_i : @day.month  ) %></td>
        <td><%= select_tag "year", options_for_select(@years, params[:year].to_i) %></td>
      <td><%= submit_tag "View" %></td>
    </table>
  </div>
<% end -%>
<br/>

  <table class="regular" style="text-align:right">
    <tr>
      <th></th>
      <% @weeks.each do |date| %>
      <th>Week <%= date[0].cweek %> </th>
      <% end %>
    </tr>

    <tr class="grayed">
      <td class="underline overline" style="text-align:left">Normal working hours</td>
      <% @expected.each do |hours| %>
      <td class="underline overline"><%= hours %> </td>
      <% end %>
    </tr>

    <tr><td colspan="99"></td></tr>

    <% @users.each do |user| %>
      <tr>
        <td style="text-align:left"><span class="<%= user.status_for_month(@day, expected_days, expected_hours)%>">
          <%= link_to h(user.name), user_month_review_path( user, {:id => :calendar}.merge( date_to_url(@day) ) ) %>
        </span></td>
        <% @weeks.each_with_index do |range, index| %>
          <% hours = TimeEntry.for_user(user).between(range[0], range[1]).sum(:hours) %>
          <% color_code = case hours
              when 0 : "grayed"
              when 0..(@expected[index] -1): "red"
              when (@expected[index] - 1)..(@expected[index] * 1.3): "black"
              else "high"
          end %>

            <td class="<%= color_code -%>"><%= hours %></td>

        <% end %>
      </tr>
    <% end %>

    <tr>
      <th class="overline">Total</th>
      <% @totals.each do |total| %>
      <th class="overline"><%= total %></th>
      <% end %>
    </tr>
    
  </table>

  <!--%= will_paginate @users %-->
  <br/>

<%#= render :partial => 'download', :locals => { :params => params, :action => 'user' } -%>


