<html>
	<head>
		<title>TimeFlux - the open and easy way of time management and billing</title>
		<%= stylesheet_link_tag "application" %>
	</head>
	<body>
		<div id="container">
			<div id="logo">
				<%= image_tag "timeflux_logo.jpg", :alt => "TimeFlux logo", :id => "timeflux_logo" %>
			</div>
			<div id="menu">
				<% if defined? @current_user_session -%>
					<span class="menu_item"><%= link_to "Time Entry", time_entries_url, :class => "menu_link" %></span>
					<span class="menu_item"><%= link_to "Review Month", nil, :class => "menu_link" %></span>
					<span class="menu_item"><%= link_to "Reports", reports_url, :class => "menu_link" %></span>
					<span class="menu_item"><%= link_to "Activities", activities_url, :class => "menu_link" %></span>
					<span class="menu_item"><%= link_to "Users", users_url, :class => "menu_link" %></span>
					<span class="menu_item"><%= link_to "Logout", {:controller => "user_sessions", :action => "destroy"}, :method => :delete, :class => "menu_link" %></span>
			    <% else -%>
					<span class="menu_item"><%= link_to "Login", new_user_session_url, :class => "menu_link" %></span>
				<% end -%>
			</div>
			<div id="main">
				<div class="content">
					<%= yield %>
				</div>
			</div>
			<div id="footer">
				<div class="content">
					<p>100% Free Open Source sponsored by<br/>
						<a href="http://www.conduct.no">
							<%= image_tag "Conductlogo.jpg", :alt => "Conduct logo", :id => "conduct_logo" %>
						</a>
					</p>
				</div>				
			</div>
		</div>
	</body>
</html>