<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<title>TimeFlux - the open and easy way of time management and billing</title>
		<%= stylesheet_link_tag "application" %>
		<%= javascript_include_tag :defaults %>
        <%= stylesheet_link_tag "pagination" %>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
	</head>
	<body>
		<div id="container">
			<div id="logo">
				<%= image_tag "timeflux_logo.jpg", :alt => "TimeFlux logo", :id => "timeflux_logo" %>
			</div>
			<div id="menu">
				<% if defined? @current_user_session -%>
                    <span class="menu_item"><%= link_to "Time Entry", time_entries_url, :class => "menu_link" %></span>
					<span class="menu_item"><%= link_to "Review", month_url, :class => "menu_link" %></span>
					<% if @current_user.admin -%>
						<span class="menu_item"><%= link_to "Reports", reports_url, :class => "menu_link" %></span>
						<span class="menu_item"><%= link_to "Activities", activities_url, :class => "menu_link" %></span>
                                                <span class="menu_item"><%= link_to "Holidays", holidays_url, :class => "menu_link" %></span>
						<span class="menu_item"><%= link_to "Users", users_url, :class => "menu_link" %></span> 
					<% end -%>
					<span class="menu_item"><%= link_to "Logout", {:controller => "user_sessions", :action => "destroy"}, :method => :delete, :class => "menu_link" %></span>
			    <% else -%>
					<span class="menu_item"><%= link_to "Login", new_user_session_url, :class => "menu_link" %></span>
				<% end -%>
			</div>

			<div id="main">
				<div class="content">
					<%= yield %>
				</div>
			</div>
              
			<div id="footer">
				<div class="content">
					<p>100% Free Open Source sponsored by<br/>
						<a href="http://www.conduct.no">
							<%= image_tag "Conductlogo.jpg", :alt => "Conduct logo", :id => "conduct_logo" %>
						</a>
					</p>
				</div>
			</div>
		</div>          
	</body>
</html>